.contents {
  .user {
    background-image: image-url('user-bg.jpg');
    font-size: 14px;
    height: 200px;
    position: relative;
    text-align: center;
    &__icon {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translate(0, -50%);
      .avatar {
        border-radius: 50%;
        height: 60px;
        width: 60px;
      }
    }
    &__name {
      margin: 8px 0 0 0;
    }
    &__result {
      margin: 8px 0 0 0;
      div {
        display: inline-block;
      }
      span {
        margin: 0 0 0 8px;
      }
      &__sell {
        margin: 0 0 0 12px;
      }
    }
  }

  .mypage {
    &--now-past {
      margin-top: 40px;
    }
    &__tabs__notification.inactive {
      display: none;
    }
    &__tabs__todo.active {
      display: none;
    }
    &__tabs__now.active {
      display: none;
    }
    &__tabs__past.inactive {
      display: none;
    }
    &__list.not-found.notification {
      display: none;
    }
    &__list.not-found.todo{
      display: none;
    }
    &__list.active.todo{
      display: none;
    }
    &__list.active.new{
      display: none;
    }
    &__list.not-found.new{
      display: none;
    }
    &__list.active.past{
      display: none;
    }
  }
}
