.l-content {
  float: right;
  width: 700px;
  .mypage-tab-container {
    background: #fff;
    .mypage-tab-head {
      padding: 0 16px;
      background: #fafafa;
      font-size: 16px;
      line-height: 72px;
      font-weight:bold;
    }
    .listing-tabs {
      border: 0;
      background: #eee;
      font-size: 0;
      li.active {
        background: #fff;
        width: 33.3%;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        a {
          border-top: 2px solid #ea352d;
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 72px;
          font-weight:bold;
        }
      }
      li.active1 {
        width: 33.3%;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        a {
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 72px;
          font-weight:bold;
        }
      }
    }
    .tab-content {
      .tab-pane.active {
        display: block;
        .mypage-item-link {
          position: relative;
          display: block;
          padding: 16px;
          color: #333;
          figure {
            position: relative;
            overflow: hidden;
            float: left;
            width: 48px;
            height: 48px;
            img.is-higher-width {
              width: auto;
              left: 50%;
              right: auto;
              height: 100%;
              transform: translate(-50%, 0);
              position: absolute;
              top: 0;
              bottom: 0;
              z-index: 1;
            }
          }
          .mypage-item-body {
            margin: 0 40px 0 68px;
            .mypage-item-text {
              overflow: hidden;
              display: -webkit-box;
              max-height: 4.4em;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              text-overflow: ellipsis;
              line-height: 1.5;
            }
            .listing-item-count {
              vertical-align: 2px;
              margin: 0 6px 0 0;
              i {
                vertical-align: middle;
                color: #ccc;
              }
              span {
                vertical-align: middle;
                margin: 0 0 0 2px;
                font-size: 16px;
                color: #888;
              }
            }
            .mypage-item-status {
              display: inline-block;
              margin: 8px 0 0 0;
              padding: 5px 6px;
              border-radius: 2px;
              font-size: 12px;
              color: #fff;
            }
            .awaiting {
              background: #0099e8;
            }
          }
          .fa-angle-right {
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translate(0, -50%);
            font-size: 24px;
          }
        }
      }
    }
  }
}
