.p-content {
  float: right;
  width: 700px;
  height: 568px;
  background-color: #fff;
  .chapter-container {
    margin: 0;
    &__title {
      font-size: 22px;
      padding: 8px 24px;
      height: 30px;
      text-align: center;
      font-weight: bold;
    }
    form {
      .profile-icon {
        height: 156px;
        background-image: url("https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?52408201");
        text-align: center;
        &__content {
          height: 100%;
          padding-top: 80px;
          img.image-icon {
            border-radius: 50%;
            vertical-align: middle;
          }
          input.input-name {
            padding: 10px 16px 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 220px;
            line-height: 1.5;
            font-size: 14px;
          }
        }
      }
      .profile-text {
        padding: 40px 16px;
        textarea.textarea-default {
          min-height: 216px;
          width: 100%;
          max-width: 100%;
          font-size: 16px;
          border: 1px solid #ccc;
          line-height: 1.5;
        }
        button.btn-red {
          background-color: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          width: 100%;
          line-height: 42px;
          font-size: 12px;
          margin-top: 16px;
          cursor: pointer;
          min-height: 1.5em;
        }
      }
    }
  }
}
