= render 'shared/header'

.wrapper
  %main.mypage.clearfix
    = render 'shared/sidebar'
    .card-container
      %section.chapter-container
        %h2.chapter-container__title 支払い方法
        .chapter-container__inner
          .chapter-container__inner-list クレジットカード一覧
          %section.chapter-container__inner-button
            .button-form
              %a.btn-red.submit-btn{href: ""}
                %i.far.fa-credit-card.icon クレジットカードを追加する
          .chapter-container__inner-pay
            %a.pay-way{:href => ""}
              %span 支払い方法について
              %i.fas.fa-angle-right.icon

= render 'shared/footer'
