= render 'shared/header'

.wrapper
  %main.mypage.clearfix
    = render 'shared/sidebar'
    .logout-container
      %form.logout-form{action: ""}
        .logout-btn
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: '.logout-btn'

= render 'shared/footer'
