.logout-container {
  width: 700px;
  height: 180px;
  background-color: #fff;
  float: right;
  .logout-form {
    padding: 64px;
    .logout-btn {
      max-width: 320px;
      margin: 0 auto;
      background-color: #ea352d;
      border: 1px solid #ea352d;
      width: 100%;
      line-height: 42px;
      cursor: pointer;
      min-height: 1.5em;
      text-align: center;
      a {
        color: #fff;
        font-size: 16px;
        padding: 15px 120px;
      }
    }
  }
}
