.logout-container {
  width: 700px;
  height: 180px;
  background-color: #fff;
  float: right;
  .logout-form {
    padding: 64px;
    .logout-btn {
      max-width: 320px;
      margin: 0 auto;
      &__red {
        background-color: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        width: 100%;
        line-height: 42px;
        font-size: 12px;
        cursor: pointer;
        min-height: 1.5em;
      }
    }
  }
}
