span.form-any {
  background-color: #ccc;
  font-size: 12px;
  color: #fff;
  padding: 2px 4px;
  border-radius: 2px;
  margin-left: 8px;
  vertical-align: top;
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}
.btn-sns {
  position: relative;
  i {
    position: absolute;
    top: 50%;
    left: 16px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 18px;
  }
}
body {
  position: relative;
  min-height: 100%;
  background-color: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  line-height: 1;
  display: block;
  .single-header {
    text-align: center;
    height: 128px;
    h1 {
      display: inline-block;
      margin: 40px 0 0;
      a {
        display: inline-block;
        width: 185px;
        height: 49px;
        margin: 0 8px 0 0;
        line-height: 33px;
        img {
          width: 185px;
          height: 49px;
        }
      }
    }
  }
  .login-panel {
    max-width: none;
    width: 456px;
    margin: 0 auto;
    background-color: #fff;
    .login-no-account {
      padding: 40px 64px;
      text-align: center;
      p {
        font-size: 14px;
      }
      .l-login-no-account {
        display: block;
        margin: 8px 0 0;
        border: 1px solid #0099e8;
        background-color: #0099e8;
        color: #fff;
        line-height: 40px;
        text-decoration: none;
      }
    }
    .login-form-inner {
      padding: 32px 64px;
      border-top: 1px solid #eee;
      .btn-sns-facebook {
        background-color: #385185;
        color: #fff;
      }
      .btn-sns-google {
        margin: 16px 0 0;
        background-color: #dc4e41;
        color: #fff;
      }
    }
    .login-form-inner:first-child {
      padding: 0 64px 32px;
      border: 0;
      .form-group {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 24px 0 0;
        input {
          height: 24px;
          padding: 10px 15px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          width: 90%;
        }
      }
      input[type='submit'] {
        background-color: #ea352d;
        color: #fff;
        margin: 24px 0 0;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
      }
      .password-forgot {
        margin: 40px 0 0;
        display: block;
        a {
          color: #0099e8;
          text-decoration: none;
        }
      }
    }
  }

  .l-single-container {
    max-width: none;
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    .login-no-account {
      padding: 40px 64px;
      text-align: center;
      h2 {
        font-size: 22px;
        font-weight: bold;
      }
    }
    .login-form-inner {
      padding: 64px 64px;
      border-top: 1px solid #eee;
      .l-login-form-inner {
        width: 320px;
        margin: 0 auto;
        .btn-sns-facebook {
          background-color: #385185;
          color: #fff;
        }
        .btn-sns-google {
          margin: 16px 0 0;
          background-color: #dc4e41;
          color: #fff;
        }
        .btn-mail {
          position: relative;
          margin: 16px 0 0;
          background: #eee;
          color: #000;
        }
      }
    }
    .login-form-inner:first-child {
      padding: 0 64px 32px;
      border: 0;
      .form-group {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 24px 0 0;
        input {
          height: 24px;
          padding: 10px 15px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          width: 90%;
        }
      }
      input[type='submit'] {
        background-color: #ea352d;
        color: #fff;
        margin: 24px 0 0;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
      }
      .password-forgot {
        margin: 40px 0 0;
        display: block;
        a {
          color: #0099e8;
          text-decoration: none;
        }
      }
    }
  }
  .single-footer {
    width: 456px;
    height: 220px;
    margin: 0 auto;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 40px 0;
    text-align: center;
    li {
      display: inline-block;
      font-size: 12px;
      margin: 0 0 0 16px;
    }
    img {
      margin: 40px auto 0;
    }
  }
}


.user-header {
  text-align: center;
  height: 128px;
  h1 {
    display: inline-block;
    margin: 40px 0 0;
    a {
      display: inline-block;
      width: 185px;
      height: 49px;
      margin: 0 8px 0 0;
      line-height: 33px;
      img {
        width: 185px;
        height: 49px;
      }
    }
  }
  .progress-bar {
    padding: 40px 0 0 44px;
    border: 0;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    text-align: center;
    ol {
      margin: 0;
      li {
        margin: 0 40px 0 0;
        min-width: 60px;
        position: relative;
        z-index: 1;
        display: inline-block;
        font-size: 12px;
        color: #888;
        .progress-status {
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          background: #ccc;
          border-radius: 50%;
        }
        .progress-status:after {
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #ccc;
          left: 50%;
        }
        .progress-status:before {
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #ccc;
          right: 50%;
        }
      }
      li.through {
        font-weight: 600;
        color: #ea352d;
        .progress-status {
          background: #ea352d;
        }
        .progress-status:before {
          right: 0;
          width: 0;
        }
        .progress-status:after {
          width: 156%;
          background: #ea352d;
        }
      }
      li.active {
        font-weight: 600;
        color: #ea352d;
        .progress-status {
          background: #ea352d;
        }
        .progress-status:before {
          right: 0;
          width: 0;
        }
      }
      li:last-child {
        margin: 0;
        .progress-status:after {
          width: 0;
        }
      }
    }
  }
}


.user-single-container {
  max-width: none;
  width: 700px;
  margin: 0 auto;
  background-color: #fff;
  .user-single-head {
    padding: 32px 16px;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    font-weight: bold;
  }
  .user-single-contents {
    border-top: 1px solid #f5f5f5;
    padding: 22px 64px 64px;
    .user-single-content {
      max-width: 320px;
      margin: 0 auto;
      .form-group {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 40px 0 0;
        input {
          height: 24px;
          padding: 10px 15px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          width: 90%;
        }
      }
      .destination {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 40px 0 0;
        input {
          height: 24px;
          padding: 10px 15px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          width: 90%;
          margin: 5px 0 5px;
        }
        select {
          width: 100%;
        }
        .select-wrap {
          position: relative;
          .fa-chevron-down {
            position: absolute;
            right: 16px;
            top: 50%;
            z-index: 2;
            color: #888888;
            transform: translate(0, -50%);
            text-transform: none;
          }
        }
        select {
          position: relative;
          z-index: 2;
          height: 48px;
          padding: 0 16px;
          border-radius: 4px;
          border: 1px solid #cccccc;
          background-color: #ffffff;
          font-size: 16px;
          line-height: 1.5;
          cursor: pointer;
          margin: 5px 0 0 0;
        }
      }
      input[type='submit'] {
        background-color: #ea352d;
        color: #fff;
        margin: 24px 0 0;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
      }
    }
  }
}