%body
  .contains
    %header
      .header-container
      %div
      %h1 mercari!!
    %main
      %section#top-app top_image
      %div
      %section#category
        %h2 ピックアップカテゴリー
        %section.item
          %h3 レディース新着アイテム
        %section.item
          %h3 メンズ新着アイテム
        %section.item
          %h3 ベビー・キッズ新着アイテム
        %section.item
          %h3 コスメ新着アイテム
      %section#brand
        %h2 ピックアップブランド
        %section.item
          %h3 シャネル新着アイテム
        %section.item
          %h3 ルイヴィトン新着アイテム
        %section.item
          %h3 シュプリーム新着アイテム
        %section.item
          %h3 ナイキ新着アイテム
    %aside
      %h2 aside
    %footer
      %h2 footer
    %a{:href => ""}
